<div class="portlet light row">
    <div class="portlet-title">
        <div class="caption font-dark">
            <span class="caption-subject bold uppercase">仪表盘</span>
        </div>
    </div>
    <div ng-controller="DashboardController">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 dashboard-stat white">
                    <div class="visual">
                        <i class="fa"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 5430万 </div>
                        <div class="desc"> 总数据量 </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 dashboard-stat white">
                    <div class="visual">
                        <i class="fa"></i>
                    </div>
                    <div class="details">
                        <div class="number"> +1630 </div>
                        <div class="desc"> 近一月增加 </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 dashboard-stat white">
                    <div class="visual">
                        <i class="fa"></i>
                    </div>
                    <div class="details">
                        <div class="number"> +740 </div>
                        <div class="desc"> 近一周增加 </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 dashboard-stat white">
                    <div class="visual">
                        <i class="fa"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 70 </div>
                        <div class="desc"> 总探针设备 </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 dashboard-stat white">
                    <div class="visual">
                        <i class="fa"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 65 </div>
                        <div class="desc"> 在线探针设备 </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 dashboard-stat white">
                    <div class="visual">
                        <i class="fa"></i>
                    </div>
                    <div class="details">
                        <div class="number"> +6 </div>
                        <div class="desc"> 近一周增加 </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN DASHBOARD STATS -->
        <!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
                <!--<div class="dashboard-stat white">-->
                    <!--<div class="visual">-->
                        <!--<i class="fa fa-comments"></i>-->
                    <!--</div>-->
                    <!--<div class="details">-->
                        <!--<div class="number"> 1349 </div>-->
                        <!--<div class="desc"> New Feedbacks </div>-->
                    <!--</div>-->
                    <!--<a class="more" href="#"> View more-->
                        <!--<i class="m-icon-swapright m-icon-white"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
                <!--<div class="dashboard-stat red">-->
                    <!--<div class="visual">-->
                        <!--<i class="fa fa-bar-chart-o"></i>-->
                    <!--</div>-->
                    <!--<div class="details">-->
                        <!--<div class="number"> 12,5M$ </div>-->
                        <!--<div class="desc"> Total Profit </div>-->
                    <!--</div>-->
                    <!--<a class="more" href="#"> View more-->
                        <!--<i class="m-icon-swapright m-icon-white"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
                <!--<div class="dashboard-stat green">-->
                    <!--<div class="visual">-->
                        <!--<i class="fa fa-shopping-cart"></i>-->
                    <!--</div>-->
                    <!--<div class="details">-->
                        <!--<div class="number"> 549 </div>-->
                        <!--<div class="desc"> New Orders </div>-->
                    <!--</div>-->
                    <!--<a class="more" href="#"> View more-->
                        <!--<i class="m-icon-swapright m-icon-white"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
                <!--<div class="dashboard-stat purple">-->
                    <!--<div class="visual">-->
                        <!--<i class="fa fa-globe"></i>-->
                    <!--</div>-->
                    <!--<div class="details">-->
                        <!--<div class="number"> +89% </div>-->
                        <!--<div class="desc"> Brand Popularity </div>-->
                    <!--</div>-->
                    <!--<a class="more" href="#"> View more-->
                        <!--<i class="m-icon-swapright m-icon-white"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- END DASHBOARD STATS -->
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-9" ng-controller="networkController">
                <div class="col-md-12 col-sm-12 col-xs-12 chart-title">
                    <span>网络操作</span>
                    <span id="network-time-selected"></span>
                    <img class="pull-right" src="../icon/line_chart.png">
                    <img class="pull-right" src="../icon/bar_chart.png">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 chart-option">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div>
                            <button class="date-range btn-default form-control"
                                    id="network-timerange">今天<span class="caret date-range-caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="multi-dropdown"
                             ng-dropdown-multiselect
                             options="selectByGroupData"
                             selected-model="selectByGroupModel"
                             extra-settings="selectByGroupSettings"
                             group-by="group"
                             translation-texts="selectByGroupTexts">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" id="network-chart" style="height: 300px"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="col-md-12 col-sm-12 col-xs-12 chart-title">容量</div>
                <div class="col-md-12 col-sm-12 col-xs-12" id="volume-chart" style="height:200px">Loading</div>
                <div class="col-md-6 col-sm-6 col-xs-6 volume-des">
                    <span class="row">153GB</span>
                    <span class="row">可用空间</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 volume-des">
                    <span class="row">1022GB</span>
                    <span class="row">已用空间</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                    <button class="btn-default form-control">管理空间</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" ng-controller="systemController">
                <div class="col-md-12 col-sm-12 col-xs-12 chart-title">
                    <span>系统操作</span>
                    <span id="system-time-selected"></span>
                    <img class="pull-right" src="../icon/line_chart.png">
                    <img class="pull-right" src="../icon/bar_chart.png">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 chart-option">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div>
                            <button class="date-range btn-default form-control"
                                    id="system-timerange">今天<span class="caret date-range-caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="multi-dropdown"
                             ng-dropdown-multiselect
                             options="selectByGroupData"
                             selected-model="selectByGroupModel"
                             extra-settings="selectByGroupSettings"
                             group-by="group"
                             translation-texts="selectByGroupTexts">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" id="system-chart" style="height: 300px"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" ng-controller="processController">
                <div class="col-md-12 col-sm-12 col-xs-12 chart-title">
                    <span>进程操作</span>
                    <span id="process-time-selected"></span>
                    <img class="pull-right" src="../icon/line_chart.png">
                    <img class="pull-right" src="../icon/bar_chart.png">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 chart-option">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div>
                            <button class="date-range btn-default form-control"
                                    id="process-timerange">今天<span class="caret date-range-caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="multi-dropdown"
                             ng-dropdown-multiselect
                             options="selectByGroupData"
                             selected-model="selectByGroupModel"
                             extra-settings="selectByGroupSettings"
                             group-by="group"
                             translation-texts="selectByGroupTexts">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" id="process-chart" style="height: 300px"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" ng-controller="fileController">
                <div class="col-md-12 col-sm-12 col-xs-12 chart-title">
                    <span>文件操作</span>
                    <span id="file-time-selected"></span>
                    <img class="pull-right" src="../icon/line_chart.png">
                    <img class="pull-right" src="../icon/bar_chart.png">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 chart-option">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div>
                            <button class="date-range btn-default form-control"
                                    id="file-timerange">今天<span class="caret date-range-caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="multi-dropdown"
                             ng-dropdown-multiselect
                             options="selectByGroupData"
                             selected-model="selectByGroupModel"
                             extra-settings="selectByGroupSettings"
                             group-by="group"
                             translation-texts="selectByGroupTexts">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" id="file-chart" style="height: 300px"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" ng-controller="registryController">
                <div class="col-md-12 col-sm-12 col-xs-12 chart-title">
                    <span>注册表操作</span>
                    <span id="registry-time-selected"></span>
                    <img class="pull-right" src="../icon/line_chart.png">
                    <img class="pull-right" src="../icon/bar_chart.png">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 chart-option">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div>
                            <button class="date-range btn-default form-control"
                                    id="registry-timerange">今天<span class="caret date-range-caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="multi-dropdown"
                             ng-dropdown-multiselect
                             options="selectByGroupData"
                             selected-model="selectByGroupModel"
                             extra-settings="selectByGroupSettings"
                             group-by="group"
                             translation-texts="selectByGroupTexts">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" id="registry-chart" style="height: 300px"></div>
            </div>
        </div>

    </div>
</div>
<!-- BEGIN MAIN CONTENT -->
<script>
    var initialStartTime = moment().startOf('day').format('X');
    var initialEndTime = moment().format('X');

    Date.prototype.format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    };

    var timeStamp2String = function (time, format) {
        if (typeof(time) == "number") {
            time = time.toString();
        }
        if (time.length != 10 && time.length != 13) {
            return time;
        }
        if (time.length == 10) {
            time = time * 1000;
        }
        var datetime = new Date();
        datetime.setTime(time);
        return datetime.format(format);
    };

    $('#network-time-selected').html(timeStamp2String(initialStartTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(initialEndTime, "yyyy-MM-dd hh:mm"));
    $('#system-time-selected').html(timeStamp2String(initialStartTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(initialEndTime, "yyyy-MM-dd hh:mm"));
    $('#process-time-selected').html(timeStamp2String(initialStartTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(initialEndTime, "yyyy-MM-dd hh:mm"));

//    $('.networkDatePicker i').click(function () {
//        $(this).parent().find('input').click();
//    });


    var networkDraw = function() {
        var dom = document.getElementById("network-chart");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            legend: {
                data:['最新成交价', '预购队列']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: {
                show: false,
                start: 0,
                end: 100
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var now = new Date();
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.unshift(now.toLocaleTimeString().replace(/^\D*/,''));
                            now = new Date(now - 2000);
                        }
                        return res;
                    })()
                },
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(len + 1);
                        }
                        return res;
                    })()
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    name: '价格',
                    max: 30,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                },
                {
                    type: 'value',
                    scale: true,
                    name: '预购量',
                    max: 1200,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }
            ],
            series: [
                {
                    name:'预购队列',
                    type:'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data:(function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(Math.round(Math.random() * 1000));
                        }
                        return res;
                    })()
                },
                {
                    name:'最新成交价',
                    type:'line',
                    data:(function (){
                        var res = [];
                        var len = 0;
                        while (len < 10) {
                            res.push((Math.random()*10 + 5).toFixed(1) - 0);
                            len++;
                        }
                        return res;
                    })()
                }
            ]
        };

        app.count = 11;
        setInterval(function (){
            axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');

            var data0 = option.series[0].data;
            var data1 = option.series[1].data;
            data0.shift();
            data0.push(Math.round(Math.random() * 1000));
            data1.shift();
            data1.push((Math.random() * 10 + 5).toFixed(1) - 0);

            option.xAxis[0].data.shift();
            option.xAxis[0].data.push(axisData);
            option.xAxis[1].data.shift();
            option.xAxis[1].data.push(app.count++);

            myChart.setOption(option);
        }, 2100);
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    };

    networkDraw();

    $('#network-timerange').daterangepicker({
        "showCustomRangeLabel": false,
        "autoApply": true,
        "ranges": {
            "今天": [moment().startOf('day'), moment()],
            //            "昨天": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
            //            "过去7天": [moment().subtract('days', 6), moment()],
            "本周": [moment().startOf('week'), moment()],
            //            "过去30天": [moment().subtract('days', 29), moment()],
            "本月": [moment().startOf('month'), moment()]
        },
        "locale": {
            "format": "YYYY/MM/DD HH:mm"
        }
    }, function (start, end, label) {
        var startTime = start / 1000;
        var endTime = Math.floor(end / 60000) * 60;
        $("#network-time-selected").html(timeStamp2String(startTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(endTime, "yyyy-MM-dd hh:mm"));

        networkDraw();
    });

function networkController($scope) {
    $scope.selectByGroupModel = [];

    var device_info = [
        {
            "groupname": "group1",
            "devices": [{
                "deviceid": 1,
                "devicename": "EndPoint1",
                "ip": "127.0.0.1",
                "os": "Linux",
                "assettag": "Lab",
                "status": "online",
                "lastcontacttime": "2017-04-06 18:05:39"
            }, {
                "deviceid": 2,
                "devicename": "EndPoint2",
                "ip": "127.0.0.1",
                "os": "Linux",
                "assettag": "Lab",
                "status": "online",
                "lastcontacttime": "2017-04-06 18:05:39"
            }]
        },
        {
            "groupname": "group2",
            "devices": [
                {
                    "deviceid": 3,
                    "devicename": "EndPoint3",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }]
        }
    ];

    $scope.selectByGroupData = [];
    $scope.groupInfo = [];
    for (var i = 0; i < device_info.length; i++) {
        var devices = device_info[i].devices;
        $scope.groupInfo.push(device_info[i].groupname);
        for (var k = 0; k < devices.length; k++) {
            var device = {
                id: devices[k].deviceid,
                label: devices[k].devicename,
                group: device_info[i].groupname
            };
            $scope.selectByGroupData.push(device)
        }
    }

    $scope.selectByGroupSettings = {
        selectByGroups: $scope.groupInfo,
        groupByTextProvider: function (groupValue) {
            switch (groupValue) {
                case 'group1':
                    return '选择:分组一';
                case 'group2':
                    return '选择:分组二';
            }
        },
        scrollableHeight: '400px',
        scrollable: true,
        enableSearch: true
    };

    $scope.selectByGroupTexts = {
        buttonDefaultText: "所有探针设备...",
        selectGroup: '选择所有:',
        allSelectedText: '全部',
        searchPlaceholder: '检索...',
        checkAll: '选择所有',
        uncheckAll: '取消所有选择',
        selectionCount: '被选中'
    };
}

    var volumeDraw = function() {
        var dom = document.getElementById("volume-chart");
        var myChart = echarts.init(dom);
        var option = {
            series: [{
                type: 'liquidFill',
                radius: '80%',
                data: [0.5],
                label: {
                    normal: {
                        textStyle: {
                            color: 'red',
                            insideColor: 'yellow',
                            fontSize: 50
                        }
                    }
                }
            }]
        };
        myChart.setOption(option);
    };

function systemController($scope) {
        $scope.selectByGroupModel = [];

        var device_info = [
            {
                "groupname": "group1",
                "devices": [{
                    "deviceid": 1,
                    "devicename": "EndPoint1",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }, {
                    "deviceid": 2,
                    "devicename": "EndPoint2",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }]
            },
            {
                "groupname": "group2",
                "devices": [
                    {
                        "deviceid": 3,
                        "devicename": "EndPoint3",
                        "ip": "127.0.0.1",
                        "os": "Linux",
                        "assettag": "Lab",
                        "status": "online",
                        "lastcontacttime": "2017-04-06 18:05:39"
                    }]
            }
        ];

        $scope.selectByGroupData = [];
        $scope.groupInfo = [];
        for (var i = 0; i < device_info.length; i++) {
            var devices = device_info[i].devices;
            $scope.groupInfo.push(device_info[i].groupname);
            for (var k = 0; k < devices.length; k++) {
                var device = {
                    id: devices[k].deviceid,
                    label: devices[k].devicename,
                    group: device_info[i].groupname
                };
                $scope.selectByGroupData.push(device)
            }
        }

        $scope.selectByGroupSettings = {
            selectByGroups: $scope.groupInfo,
            groupByTextProvider: function (groupValue) {
                switch (groupValue) {
                    case 'group1':
                        return '选择:分组一';
                    case 'group2':
                        return '选择:分组二';
                }
            },
            scrollableHeight: '400px',
            scrollable: true,
            enableSearch: true
        };

        $scope.selectByGroupTexts = {
            buttonDefaultText: "所有探针设备...",
            selectGroup: '选择所有:',
            allSelectedText: '全部',
            searchPlaceholder: '检索...',
            checkAll: '选择所有',
            uncheckAll: '取消所有选择',
            selectionCount: '被选中'
        };
    }

    var systemDraw = function() {
        var dom = document.getElementById("system-chart");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            legend: {
                data:['最新成交价', '预购队列']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: {
                show: false,
                start: 0,
                end: 100
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var now = new Date();
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.unshift(now.toLocaleTimeString().replace(/^\D*/,''));
                            now = new Date(now - 2000);
                        }
                        return res;
                    })()
                },
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(len + 1);
                        }
                        return res;
                    })()
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    name: '价格',
                    max: 30,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                },
                {
                    type: 'value',
                    scale: true,
                    name: '预购量',
                    max: 1200,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }
            ],
            series: [
                {
                    name:'预购队列',
                    type:'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data:(function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(Math.round(Math.random() * 1000));
                        }
                        return res;
                    })()
                },
                {
                    name:'最新成交价',
                    type:'line',
                    data:(function (){
                        var res = [];
                        var len = 0;
                        while (len < 10) {
                            res.push((Math.random()*10 + 5).toFixed(1) - 0);
                            len++;
                        }
                        return res;
                    })()
                }
            ]
        };

        app.count = 11;
        setInterval(function (){
            axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');

            var data0 = option.series[0].data;
            var data1 = option.series[1].data;
            data0.shift();
            data0.push(Math.round(Math.random() * 1000));
            data1.shift();
            data1.push((Math.random() * 10 + 5).toFixed(1) - 0);

            option.xAxis[0].data.shift();
            option.xAxis[0].data.push(axisData);
            option.xAxis[1].data.shift();
            option.xAxis[1].data.push(app.count++);

            myChart.setOption(option);
        }, 2100);
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    };

    systemDraw();

    $('#system-timerange').daterangepicker({
        "showCustomRangeLabel": false,
        "autoApply": true,
        "ranges": {
            "今天": [moment().startOf('day'), moment()],
            //            "昨天": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
            //            "过去7天": [moment().subtract('days', 6), moment()],
            "本周": [moment().startOf('week'), moment()],
            //            "过去30天": [moment().subtract('days', 29), moment()],
            "本月": [moment().startOf('month'), moment()]
        },
        "locale": {
            "format": "YYYY/MM/DD HH:mm"
        }
    }, function (start, end, label) {
        var startTime = start / 1000;
        var endTime = Math.floor(end / 60000) * 60;
        $("#system-time-selected").html(timeStamp2String(startTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(endTime, "yyyy-MM-dd hh:mm"));

        systemDraw();
    });

function processController($scope) {
        $scope.selectByGroupModel = [];

        var device_info = [
            {
                "groupname": "group1",
                "devices": [{
                    "deviceid": 1,
                    "devicename": "EndPoint1",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }, {
                    "deviceid": 2,
                    "devicename": "EndPoint2",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }]
            },
            {
                "groupname": "group2",
                "devices": [
                    {
                        "deviceid": 3,
                        "devicename": "EndPoint3",
                        "ip": "127.0.0.1",
                        "os": "Linux",
                        "assettag": "Lab",
                        "status": "online",
                        "lastcontacttime": "2017-04-06 18:05:39"
                    }]
            }
        ];

        $scope.selectByGroupData = [];
        $scope.groupInfo = [];
        for (var i = 0; i < device_info.length; i++) {
            var devices = device_info[i].devices;
            $scope.groupInfo.push(device_info[i].groupname);
            for (var k = 0; k < devices.length; k++) {
                var device = {
                    id: devices[k].deviceid,
                    label: devices[k].devicename,
                    group: device_info[i].groupname
                };
                $scope.selectByGroupData.push(device)
            }
        }

        $scope.selectByGroupSettings = {
            selectByGroups: $scope.groupInfo,
            groupByTextProvider: function (groupValue) {
                switch (groupValue) {
                    case 'group1':
                        return '选择:分组一';
                    case 'group2':
                        return '选择:分组二';
                }
            },
            scrollableHeight: '400px',
            scrollable: true,
            enableSearch: true
        };

        $scope.selectByGroupTexts = {
            buttonDefaultText: "所有探针设备...",
            selectGroup: '选择所有:',
            allSelectedText: '全部',
            searchPlaceholder: '检索...',
            checkAll: '选择所有',
            uncheckAll: '取消所有选择',
            selectionCount: '被选中'
        };
    }

    var processDraw = function() {
        var dom = document.getElementById("process-chart");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            legend: {
                data:['最新成交价', '预购队列']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: {
                show: false,
                start: 0,
                end: 100
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var now = new Date();
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.unshift(now.toLocaleTimeString().replace(/^\D*/,''));
                            now = new Date(now - 2000);
                        }
                        return res;
                    })()
                },
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(len + 1);
                        }
                        return res;
                    })()
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    name: '价格',
                    max: 30,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                },
                {
                    type: 'value',
                    scale: true,
                    name: '预购量',
                    max: 1200,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }
            ],
            series: [
                {
                    name:'预购队列',
                    type:'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data:(function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(Math.round(Math.random() * 1000));
                        }
                        return res;
                    })()
                },
                {
                    name:'最新成交价',
                    type:'line',
                    data:(function (){
                        var res = [];
                        var len = 0;
                        while (len < 10) {
                            res.push((Math.random()*10 + 5).toFixed(1) - 0);
                            len++;
                        }
                        return res;
                    })()
                }
            ]
        };

        app.count = 11;
        setInterval(function (){
            axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');

            var data0 = option.series[0].data;
            var data1 = option.series[1].data;
            data0.shift();
            data0.push(Math.round(Math.random() * 1000));
            data1.shift();
            data1.push((Math.random() * 10 + 5).toFixed(1) - 0);

            option.xAxis[0].data.shift();
            option.xAxis[0].data.push(axisData);
            option.xAxis[1].data.shift();
            option.xAxis[1].data.push(app.count++);

            myChart.setOption(option);
        }, 2100);
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    };

    processDraw();

    $('#process-timerange').daterangepicker({
        "showCustomRangeLabel": false,
        "autoApply": true,
        "ranges": {
            "今天": [moment().startOf('day'), moment()],
            //            "昨天": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
            //            "过去7天": [moment().subtract('days', 6), moment()],
            "本周": [moment().startOf('week'), moment()],
            //            "过去30天": [moment().subtract('days', 29), moment()],
            "本月": [moment().startOf('month'), moment()]
        },
        "locale": {
            "format": "YYYY/MM/DD HH:mm"
        }
    }, function (start, end, label) {
        var startTime = start / 1000;
        var endTime = Math.floor(end / 60000) * 60;
        $("#process-time-selected").html(timeStamp2String(startTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(endTime, "yyyy-MM-dd hh:mm"));

        processDraw();
    });

function fileController($scope) {
        $scope.selectByGroupModel = [];

        var device_info = [
            {
                "groupname": "group1",
                "devices": [{
                    "deviceid": 1,
                    "devicename": "EndPoint1",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }, {
                    "deviceid": 2,
                    "devicename": "EndPoint2",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }]
            },
            {
                "groupname": "group2",
                "devices": [
                    {
                        "deviceid": 3,
                        "devicename": "EndPoint3",
                        "ip": "127.0.0.1",
                        "os": "Linux",
                        "assettag": "Lab",
                        "status": "online",
                        "lastcontacttime": "2017-04-06 18:05:39"
                    }]
            }
        ];

        $scope.selectByGroupData = [];
        $scope.groupInfo = [];
        for (var i = 0; i < device_info.length; i++) {
            var devices = device_info[i].devices;
            $scope.groupInfo.push(device_info[i].groupname);
            for (var k = 0; k < devices.length; k++) {
                var device = {
                    id: devices[k].deviceid,
                    label: devices[k].devicename,
                    group: device_info[i].groupname
                };
                $scope.selectByGroupData.push(device)
            }
        }

        $scope.selectByGroupSettings = {
            selectByGroups: $scope.groupInfo,
            groupByTextProvider: function (groupValue) {
                switch (groupValue) {
                    case 'group1':
                        return '选择:分组一';
                    case 'group2':
                        return '选择:分组二';
                }
            },
            scrollableHeight: '400px',
            scrollable: true,
            enableSearch: true
        };

        $scope.selectByGroupTexts = {
            buttonDefaultText: "所有探针设备...",
            selectGroup: '选择所有:',
            allSelectedText: '全部',
            searchPlaceholder: '检索...',
            checkAll: '选择所有',
            uncheckAll: '取消所有选择',
            selectionCount: '被选中'
        };
    }

    var fileDraw = function() {
        var dom = document.getElementById("file-chart");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            legend: {
                data:['最新成交价', '预购队列']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: {
                show: false,
                start: 0,
                end: 100
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var now = new Date();
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.unshift(now.toLocaleTimeString().replace(/^\D*/,''));
                            now = new Date(now - 2000);
                        }
                        return res;
                    })()
                },
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(len + 1);
                        }
                        return res;
                    })()
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    name: '价格',
                    max: 30,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                },
                {
                    type: 'value',
                    scale: true,
                    name: '预购量',
                    max: 1200,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }
            ],
            series: [
                {
                    name:'预购队列',
                    type:'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data:(function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(Math.round(Math.random() * 1000));
                        }
                        return res;
                    })()
                },
                {
                    name:'最新成交价',
                    type:'line',
                    data:(function (){
                        var res = [];
                        var len = 0;
                        while (len < 10) {
                            res.push((Math.random()*10 + 5).toFixed(1) - 0);
                            len++;
                        }
                        return res;
                    })()
                }
            ]
        };

        app.count = 11;
        setInterval(function (){
            axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');

            var data0 = option.series[0].data;
            var data1 = option.series[1].data;
            data0.shift();
            data0.push(Math.round(Math.random() * 1000));
            data1.shift();
            data1.push((Math.random() * 10 + 5).toFixed(1) - 0);

            option.xAxis[0].data.shift();
            option.xAxis[0].data.push(axisData);
            option.xAxis[1].data.shift();
            option.xAxis[1].data.push(app.count++);

            myChart.setOption(option);
        }, 2100);
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    };

    fileDraw();

    $('#file-timerange').daterangepicker({
        "showCustomRangeLabel": false,
        "autoApply": true,
        "ranges": {
            "今天": [moment().startOf('day'), moment()],
            //            "昨天": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
            //            "过去7天": [moment().subtract('days', 6), moment()],
            "本周": [moment().startOf('week'), moment()],
            //            "过去30天": [moment().subtract('days', 29), moment()],
            "本月": [moment().startOf('month'), moment()]
        },
        "locale": {
            "format": "YYYY/MM/DD HH:mm"
        }
    }, function (start, end, label) {
        var startTime = start / 1000;
        var endTime = Math.floor(end / 60000) * 60;
        $("#file-time-selected").html(timeStamp2String(startTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(endTime, "yyyy-MM-dd hh:mm"));

        fileDraw();
    });

function registryController($scope) {
        $scope.selectByGroupModel = [];

        var device_info = [
            {
                "groupname": "group1",
                "devices": [{
                    "deviceid": 1,
                    "devicename": "EndPoint1",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }, {
                    "deviceid": 2,
                    "devicename": "EndPoint2",
                    "ip": "127.0.0.1",
                    "os": "Linux",
                    "assettag": "Lab",
                    "status": "online",
                    "lastcontacttime": "2017-04-06 18:05:39"
                }]
            },
            {
                "groupname": "group2",
                "devices": [
                    {
                        "deviceid": 3,
                        "devicename": "EndPoint3",
                        "ip": "127.0.0.1",
                        "os": "Linux",
                        "assettag": "Lab",
                        "status": "online",
                        "lastcontacttime": "2017-04-06 18:05:39"
                    }]
            }
        ];

        $scope.selectByGroupData = [];
        $scope.groupInfo = [];
        for (var i = 0; i < device_info.length; i++) {
            var devices = device_info[i].devices;
            $scope.groupInfo.push(device_info[i].groupname);
            for (var k = 0; k < devices.length; k++) {
                var device = {
                    id: devices[k].deviceid,
                    label: devices[k].devicename,
                    group: device_info[i].groupname
                };
                $scope.selectByGroupData.push(device)
            }
        }

        $scope.selectByGroupSettings = {
            selectByGroups: $scope.groupInfo,
            groupByTextProvider: function (groupValue) {
                switch (groupValue) {
                    case 'group1':
                        return '选择:分组一';
                    case 'group2':
                        return '选择:分组二';
                }
            },
            scrollableHeight: '400px',
            scrollable: true,
            enableSearch: true
        };

        $scope.selectByGroupTexts = {
            buttonDefaultText: "所有探针设备...",
            selectGroup: '选择所有:',
            allSelectedText: '全部',
            searchPlaceholder: '检索...',
            checkAll: '选择所有',
            uncheckAll: '取消所有选择',
            selectionCount: '被选中'
        };
    }

    var registryDraw = function() {
        var dom = document.getElementById("registry-chart");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            legend: {
                data:['最新成交价', '预购队列']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: {
                show: false,
                start: 0,
                end: 100
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var now = new Date();
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.unshift(now.toLocaleTimeString().replace(/^\D*/,''));
                            now = new Date(now - 2000);
                        }
                        return res;
                    })()
                },
                {
                    type: 'category',
                    boundaryGap: true,
                    data: (function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(len + 1);
                        }
                        return res;
                    })()
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    name: '价格',
                    max: 30,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                },
                {
                    type: 'value',
                    scale: true,
                    name: '预购量',
                    max: 1200,
                    min: 0,
                    boundaryGap: [0.2, 0.2]
                }
            ],
            series: [
                {
                    name:'预购队列',
                    type:'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data:(function (){
                        var res = [];
                        var len = 10;
                        while (len--) {
                            res.push(Math.round(Math.random() * 1000));
                        }
                        return res;
                    })()
                },
                {
                    name:'最新成交价',
                    type:'line',
                    data:(function (){
                        var res = [];
                        var len = 0;
                        while (len < 10) {
                            res.push((Math.random()*10 + 5).toFixed(1) - 0);
                            len++;
                        }
                        return res;
                    })()
                }
            ]
        };

        app.count = 11;
        setInterval(function (){
            axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');

            var data0 = option.series[0].data;
            var data1 = option.series[1].data;
            data0.shift();
            data0.push(Math.round(Math.random() * 1000));
            data1.shift();
            data1.push((Math.random() * 10 + 5).toFixed(1) - 0);

            option.xAxis[0].data.shift();
            option.xAxis[0].data.push(axisData);
            option.xAxis[1].data.shift();
            option.xAxis[1].data.push(app.count++);

            myChart.setOption(option);
        }, 2100);
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    };

    registryDraw();

    $('#registry-timerange').daterangepicker({
        "showCustomRangeLabel": false,
        "autoApply": true,
        "ranges": {
            "今天": [moment().startOf('day'), moment()],
            //            "昨天": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
            //            "过去7天": [moment().subtract('days', 6), moment()],
            "本周": [moment().startOf('week'), moment()],
            //            "过去30天": [moment().subtract('days', 29), moment()],
            "本月": [moment().startOf('month'), moment()]
        },
        "locale": {
            "format": "YYYY/MM/DD HH:mm"
        }
    }, function (start, end, label) {
        var startTime = start / 1000;
        var endTime = Math.floor(end / 60000) * 60;
        $("#registry-time-selected").html(timeStamp2String(startTime, "yyyy-MM-dd hh:mm") + ' 至 ' + timeStamp2String(endTime, "yyyy-MM-dd hh:mm"));

        registryDraw();
    });

setTimeout(volumeDraw(), 2000);

</script>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->