<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject bold uppercase">事件树</span>
                    <span id="time-selected" class="time-selected">2017-04-21 00:00 至 2017-04-21 14:27</span>
                </div>
            </div>

            <div class="portlet-body">
                <div id="tree-container">

                </div>
            </div>
        </div>
    </div>
</div>


 <div class="popover popover-mindmap ng-scope am-flip-x bottom mindmapNodePopover" role="tooltip" style="top: 337.5px; left: 201px; display: none; visibility: visible;">
    <h3 class="popover-title">

    </h3>
    <div class="popover-content">
        <table class="table ddes-table table-mindmap-popover">
            <tbody><tr>
                <td>时间</td>
                <td><span id="time"></span></td>
            </tr>
            <tr>
                <td><span>进程ID</span></td>
                <td class="ng-binding"><span id="pid"></span></td>
            </tr>
            <tr>
                <td><span >类型</span></td>
                <td>
                    <span id="type" ></span>
                </td>
            </tr>
             <tr>
                <td><span>统计次数</span></td>
                <td><span id="times"></span></td>
            </tr>
            <tr>
                <td><span>用户</span></td>
                <td>
                    <span id="subject_user_account"></span>
                </td>
            </tr>
            <tr>
                <td><span>活动</span></td>
                <td>
                    <span id="activity"></span>
                </td>
            </tr>

            <tr>
                <td><span>详细信息</span></td>
                <td>

                </td>
            </tr>
        </tbody></table>
    </div>
</div>