<!--changePassword-->

<div>
    <div class="" >
        <div class="title">
            <div class="account-title"><span style="color:#9b9b9b">账户</span> <span
                    class="account-title-apd"> > 修改密码</span>
            </div>
            <div class="borderdiv"></div>
        </div>
        <div class="col-md-12 change-form">
            <form class="form-horizontal" role="form">
                <div class="change-form-title">账户信息</div>
                <div class="change-form-inner">
                    <div class="form-group">
                        <label class="col-md-1 control-label change-label">
                            用户名称：
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="" disabled="disabled"
                                   ng-model="accountSelect.username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label change-label">
                            当前密码：
                        </label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" placeholder="当前密码"
                                   ng-model="changePass.oldpass"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-1 control-label change-label">
                            新密码：
                        </label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" placeholder="新密码"
                                   ng-model="changePass.newpass"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-1 control-label change-label">
                            确认密码：
                        </label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" placeholder="确认密码"
                                   ng-model="changePass.identify"/>
                        </div>
                    </div>
                    <div class="form-group margin-bottom-26"
                         ng-show="changePass.identify && changePass.identify!=changePass.newpass">
                        <div class="col-md-5">
                            两次输入的密码不一致
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12" style="margin-left: -20px;">
            <div class="col-md-7">
                <button href="##" class="btn btn-default col-md-2 margin-right-10" ng-click="changePassword()"
                        style="background-color: #0076e1;color: #fff">创建账户
                </button>
                <button class="btn btn-default col-md-2" onclick="goback()" data-dismiss="modal"
                >取消
                </button>
            </div>
        </div>
    </div>
</div>

